<!DOCTYPE html>
<html>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>

    <title>
        NextCodeNinja.org: Laptops and Training for kids
    </title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:700italic,400,700,300,600" media="screen" rel="stylesheet" />
    <link href="../static/application.css" media="all" rel="stylesheet" />
    <script src="../static/application.js"></script>
    <link href="../static/favicon.png" rel="icon" type="image&#47;png">
    <link href="../static/ncn-logo.png" rel="image_src" type="image&#47;png">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=1200px" name="viewport">
    <meta content="NextCodeNinja.org" name="title">
    <meta content="At NextCodeNinja, we want to ensure that every child has the opportunity to learn how to code. And it all starts with having a computer." name="description">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-54193016-1', 'auto');
      ga('send', 'pageview');
    </script>

</head>
<body class=" pages pages-about">
<div id="wrapper">


<div id="main-nav">
<div class="container">
<div class="pull-left">
<a href="index.html"><img alt="Logo" src="assets/logo-b427d6d3ff7be31fb8eafda9de284166.png" /></a>
</div>
<div class="pull-right">
<ul class="nav nav-pills pull-left">
<li><a href="faqs.html">FAQ</a></li>
<li><a href="about.html">About</a></li>
<li><a href="login.html">Log in</a></li>
</ul>
<a class="pull-right btn btn-primary btn-lg" href="pledge.html">Donate</a>
</div>
</div>
</div>

<div class="content"><div class="container">
<div class="row">
<div class="col-sm-12">
<h1>About</h1>
</div>
</div>
<div class="row" id="mission">
<div class="col-sm-8 col-sm-offset-2">
<h2>Mission</h2>
<p>At Codestarter, we want to ensure that every child has the opportunity to learn how to code. We believe that it starts with having a computer.</p>
<p>This is Elizabeth.</p>
<img alt="Elizabeth" src="assets/pages/about/elizabeth-a0f08dafe17686549a3247e32f6a30a7.jpg" />
<p>I met her at the Brooklyn public library. Elizabeth was there to attend an open house for CoderDojo NYC and because she wanted to learn how to make her own video games. If you look closely, you'll notice she's using a borrowed laptop. It takes a lot of practice to become great at writing code. So unless Elizabeth finds a way to get her own computer, I fear that she’ll never even have a chance to become a game designer.</p>
<p>Our mission at Codestarter goes beyond providing laptops to kids and enabling them to learn how code. This is about long-term change for underserved children and for the tech industry that they may enter later.</p>
<p>We hypothesize that having their own laptop, will increase the likelihood that you will become a coder. Compared with current demographics of the tech sector, the kids we work with represent incredible diversity across gender, race, and class. Their engagement with programming creates the potential for incredible diversity later in the tech industry.</p>
<p>Our team, aided by our partner organizations, will track each child who receives a laptop. We will provide you, our donors, complete transparency. Soon we will offer open access to our evaluation data. This way you will be able to check in and see for yourself the long-term impact of giving laptops to kids and empowering them to code.</p>
<p>Through our laptop donation program and by measuring our progress, we hope to demonstrate impact in several areas. First, we aim to increase access to coding opportunities for children in first through twelfth grades who otherwise wouldn’t be able to participate. Second, we intend to increase diversity in the tech industry as our students mature through post-secondary education and enter the career field. Third, we hope that this will impact the types of problems that software developers try to solve and the types of companies they build. These are incredibly far-reaching goals, and they will take time and patience to achieve.</p>
<p>We’re delighted that you’re considering joining us. Together we can change the lives of kids, so many of whom already express the desire to learn to code, but who simply need the tool with which to begin.</p>
</div>
</div>
<div class="row" id="how">
<div class="col-sm-8 col-sm-offset-2">
<h2>How it Works</h2>
<ol>
<li>Codestarter partners with organizations who teach programming to kids (ages 7-17). We provide laptops and software in our Code Kits so that children who otherwise wouldn’t be able to participate can do so.</li>
<li>Our partner organizations work with schools in underserved populations to identify high-potential students who are interested in learning to code but who don’t have their own computers. When a child is recommended by a school sponsor and our partner organization, Codestarter adds her to our list of children and begins crowdfunding for her laptop.</li>
<li>As a donor, you can give an entire laptop to a child or fund a percentage. You may make a one-time donation or subscribe and support a different child each month. Either way, you’ll receive a thank you card from the child who receives your gift, and we’ll keep you updated for the first year with quarterly reports on her progress as she learns to code.</li>
<li>When a child successfully completes her first coding program, our partner organization and her school sponsor can recommend that she continue, and the laptop will be hers to keep! We believe that laptop ownership is powerful, and we want to empower young kids to be fearless in their pursuits of programming. It’s hard to become a hacker when you’re only working for an hour once a week on a borrowed piece of equipment!</li>
<li>We track every child from the beginning. We also have two controls groups in place--one group who participates in coding classes but does not receive laptops, and a second group who neither receives laptops nor participates in coding classes. These controls are essential in order to study laptop ownership apart from classroom participation. Initial evaluations will occur quarterly for a participant’s first year, and then annually thereafter.</li>
<li>Over time we hope to document the impact of giving a child her own laptop, in relation to the child’s life and the tech industry much later. We will be able to see who takes advanced placement exams in computer science, who majors in computer science in college, who graduates with a degree, who takes a first job in programming, who remains in the field for five years, who becomes an entrepreneur, and even who gets funded by VCs. These are ambitious goals, we know. It’s impossible to make any change in the world, small or large, unless you dive in and try.</li>
</ol>
</div>
</div>
<div class="row" id="team">
<div class="col-sm-8 col-sm-offset-2">
<h2>Team</h2>
<div class="row">
<div class="col-sm-3">
<figure><img alt="Theresa" src="assets/pages/about/theresa-c4cea99ce9f3c4e28bd4a42d639351b3.jpg" /></figure>
</div>
<div class="col-sm-9">
<h3>Theresa Preston-Werner</h3>
<h4>Cofounder and CEO</h4>
<p>Before starting Codestarter, I finished my PhD in Cultural Anthropology and worked with Women Work Together as their Director of Evaluations. Determining the extent to which an organization is achieving their mission fascinates me, perhaps because I believe so strongly in transparency and efficiency. I founded Codestater because I wanted to find a way to get everyone around me more excited about regularly giving to charity. There are so many fascinating and worthy nonprofits out there that I know you all will love!</p>
</div>
</div>
<div class="row">
<div class="col-sm-3">
<figure><img alt="Tom" src="assets/pages/about/tom-4527c2ad859658ede0bfd6bbe1d6c2ac.jpg" /></figure>
</div>
<div class="col-sm-9">
<h3>Tom Preston-Werner</h3>
<h4>Cofounder and Strategic Advisor</h4>
<p>I strongly believe in the power of technology to change people's lives for the better. As a strategic advisor for Codestarter, I will assist in planning a route to greater donor engagement and growth. In the past, I cofounded GitHub (a social coding platform), invented Gravatars (globally recognized avatars), and built dozens of internal tools at my own consultancy to help companies get more done faster. On weekends you can find me hacking on VR technology or hitting the trails on my mountain bike.</p>
</div>
</div>
<div class="row">
<div class="col-sm-3">
<figure><img alt="Rob" src="assets/pages/about/rob-42bd7dac8bc3ceca8918781312972ab5.jpg" /></figure>
</div>
<div class="col-sm-9">
<h3>Rob Cameron</h3>
<h4>Director of Technology</h4>
<p>I've been building websites since the late 90s: both the pretty/functional frontend and the nitty/gritty backend. I'm responsible for keeping the site running and looking great and creating quarterly reports for our donors. I've known Theresa since I helped her move out of her college dorm back in 2003. When I'm not on the computer, I can be found woodworking in my garage/shop, entertaining my two kids, or trying to go on a date with my wife.</p>
</div>
</div>
<div class="row">
<div class="col-sm-3">
<figure><img alt="Burton" src="assets/pages/about/burton-a41962429c6d1449a6ce4cbcbb3449d7.jpg" /></figure>
</div>
<div class="col-sm-9">
<h3>Burton Li</h3>
<h4>Chief Financial Officer</h4>
<p>I've been working in non-profit finance for the past 12 years, and I love my work.  I'm committed to strengthening my community by improving the transparency and efficiency of how non-profits keep track of their money.  I founded Sutro Li, a San Francisco based financial advisory firm, in 2009, and our team has been hard at work finding innovative ways to use technology to make life easier for our clients.  I live in San Francisco with my family, and when I’m not reachable by email or cell, I'm probably taking the family camping or fly fishing.</p>
</div>
</div>
<div class="row">
<div class="col-sm-3">
<figure><img alt="Sim" src="assets/pages/about/sim-86ff38b7c5fbfa2a3887043a104bbe3a.jpg" /></figure>
</div>
<div class="col-sm-9">
<h3>Simonne Hurse</h3>
<h4>Communications Manager</h4>
<p>My friends call me Sim. I'm a people person in a tech context. I'm dedicated to helping people in tech be the best person, employee and global citizen they can be. People are my passion, and it's people Codestarter are trying to help. I am so excited to be a part of this project, and I know being involved will get you excited too.</p>
</div>
</div>
<div class="row">
<div class="col-sm-3">
<figure><img alt="Cid" src="assets/pages/about/cid-9f6ed10e83250ada532328a67efd96b5.jpg" /></figure>
</div>
<div class="col-sm-9">
<h3>Gerardo Cid</h3>
<h4>Lead Designer</h4>
<p>Gerardo Cid is an UX designer and digital artist who uses creativity to solve problems and enhance user experience. His favorite designer is Saul Bass and he’s a little obsessed about typography. Whenever he have time you’ll find him planning a trip or going out for a run.</p>
</div>
</div>
<div class="row">
<div class="col-sm-3">
<figure><img alt="Sonali" src="assets/pages/about/sonali-04b3a965d835b825fb3594aa303c0d2a.jpg" /></figure>
</div>
<div class="col-sm-9">
<h3>Sonali D. Maitra</h3>
<h4>Board Member</h4>
<p>I am thrilled to act as President of the Board of Directors and to bring my legal expertise in technology and intellectual property law at Durie Tangri to Codestarter, a nonprofit positioning itself as a startup tech company.</p>
</div>
</div>
<div class="row">
<div class="col-sm-3">
<figure><img alt="Jana" src="assets/pages/about/jana-695a51e22c743d03b865e5a84f2e3b84.jpg" /></figure>
</div>
<div class="col-sm-9">
<h3>Jana Boruta</h3>
<h4>Board Member</h4>
<p>I bring years of expertise in community building/fostering and developer marketing to the Codestarter board. I currently run Community at New Relic, a SaaS technology company in Silicon Valley. Prior to joining New Relic I worked at Engine Yard, StackMob and Prismatic.</p>
</div>
</div>
<div class="row">
<div class="col-sm-3"></div>
<div class="col-sm-9">
<h3>M. Celine Takatsuno</h3>
<h4>Board Member</h4>
<p>There is nothing that drives me like the power of technology to make a positive impact on the world. That's why I'm thrilled to serve on the Codestarter Charity board, and leverage my experience leading startups and strategic initiatives at companies such as Benetech, Keibi, Teracent, and Commission Junction to help tech give back.</p>
</div>
</div>
</div>
</div>
</div>
</div>

<footer>
<div class="container">
<div class="row">
<div class="col-sm-3 logo hidden-xs">
<img alt="Logo" src="assets/logo-b427d6d3ff7be31fb8eafda9de284166.png" />
</div>
<div class="col-sm-9">
<div class="row">
<div class="col-sm-8 links">
<ul>
<li><a href="about.html">About</a></li>
<li><a href="faqs.html">FAQs</a></li>
<li><a href="http://blog.codestarter.org/">Blog</a></li>
<li><a href="privacy.html">Privacy Policy</a></li>
<li><a href="jobs.html">We&#39;re Hiring!</a></li>
</ul>
<div class="techstars">
A
<img alt="Techstars" src="../static/techstars-aec2d861fc48761c29868c4e04b32ec4.png" />
NYC 2014 Company
</div>
</div>
<div class="col-sm-4 actions">
<a class="btn btn-lg btn-primary" href="pledge.html">DONATE</a>
<ul class="social">
<li><a href="https://twitter.com/codestarterorg"><i class="fa fa-twitter"></i></a></li>
<li><a href="https://www.facebook.com/codestarter"><i class="fa fa-facebook-square"></i></a></li>
<li><a href="http://instagram.com/codestarter"><i class="fa fa-instagram"></i></a></li>
<li><a href="mailto:info@codestarter.org"><i class="fa fa-envelope"></i></a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
</footer>

<script>
  ga(function(tracker) {
    $.post('/set_ga_client_id', { client_id:tracker.get('clientId') });
  })
</script>


</div>
</body>

<!-- Mirrored from codestarter.org/about by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 12 Aug 2014 17:08:10 GMT -->
</html>
