<!DOCTYPE html>
<html>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>

    <title>
        NextCodeNinja.org: Laptops and Training for kids
    </title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:700italic,400,700,300,600" media="screen" rel="stylesheet" />
    <link href="../static/application.css" media="all" rel="stylesheet" />
    <script src="../static/application.js"></script>
    <link href="../static/favicon.png" rel="icon" type="image&#47;png">
    <link href="../static/ncn-logo.png" rel="image_src" type="image&#47;png">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=1200px" name="viewport">
    <meta content="NextCodeNinja.org" name="title">
    <meta content="At NextCodeNinja, we want to ensure that every child has the opportunity to learn how to code. And it all starts with having a computer." name="description">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-54193016-1', 'auto');
      ga('send', 'pageview');
    </script>

</head>
<body class=" pages pages-faqs">
    <div id="wrapper">


        <div id="main-nav">
            <div class="container">
                <div class="pull-left">
                    <a href="index.html"><img alt="Logo" src="../static/ncn-logo.png" /></a>
                </div>
                <div class="pull-right">
                    <ul class="nav nav-pills pull-left">
                        <li><a href="index.html">Nominate a Child</a></li>
                        <li><a href="index.html">Find a Club</a></li>
                        <li><a href="index.html">FAQ</a></li>
                        <li><a href="index.html">About</a></li>
                        <li><a href="index.html">Log in</a></li>
                    </ul>
                    <a class="pull-right btn btn-primary btn-lg" href="pledge.html">Donate</a>
                </div>
            </div>
        </div>

        <div class="content"><div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <ul class="anchors">
                        <li><a href="#children">Children and Laptops</a></li>
                        <li><a href="#codekits">Code kits</a></li>
                        <li><a href="#sponsors">Sponsors</a></li>
                        <li><a href="#partners">Partners</a></li>
                        <li><a href="#stats">Statistics</a></li>
                        <li><a href="#financials">Financials</a></li>
                    </ul>
                </div>
                <div class="col-sm-9">
                    <h1>Frequently Asked Questions</h1>
                    <h2 id="children">Children and laptops</h2>
                    <dl>
                        <dt>What’s the age-range of the kids?</dt>
                        <dd>The kids who receive laptops are between the ages of seven and seventeen, typically in 1st through 12th grades in the American school system.</dd>
                        <dt>Do you just help kids in the U.S.?</dt>
                        <dd>No. We’re starting our pilot program in the U.S. but are fully committed to expanding abroad. We believe that the need for technology is not limited to one location. Our donors have ties to communities all over the world, and we want them to be able to provide laptops to kids globally.</dd>
                        <dt>Do you only fund girls? Why do you always write “she” on the website?</dt>
                        <dd>No. Masculine pronouns and possessives are used almost without consideration in written material. We wanted to shake things up a bit, so we tend toward the use of “her.”</dd>
                        <dt>What are the criteria for selecting a candidate for a free laptop?</dt>
                        <dd>To receive a laptop, a child must fill out a short questionnaire about why she wants to learn to code, and why she needs a laptop. Next, she must receive a written recommendation from a sponsor teacher that includes an assessment of the child’s financial situation. If the leader of the coding organization agrees, she will submit the questionnaire and the recommendation to NextCodeNinja for review. If accepted, the child will be placed on our list to receive a laptop on loan during her first set of coding classes. If the child completes her first set of classes with the coding program successfully, wishes to continue learning, and agrees to continue participating in NextCodeNinja’s study, the laptop will henceforth be hers to keep.</dd>
                        <dt>Do you have controls in place?</dt>
                        <dd>We are currently in the summer pilot and not running controls. In order to determine the impact of giving kids their own laptops (can more kids begin to learn to program? do kids develop a deeper, more sustained interest in coding?), we will begin control trials when our pilot ends.</dd>
                        <dt>Why is it better to give laptops instead of lend them?</dt>
                        <dd>The power of ownership is immense. Owning your own laptop means that you can experiment, without fear of someone erasing your work or your parents yelling at you for messing up the operating system on the family computer. Kids need time to engage deeply with coding, in a way that having a borrowed piece of equipment on loan once a week for an hour just can’t provide.</dd>
                        <dt>Won’t kids just say they want to code in order to get a free laptop?</dt>
                        <dd>It’s possible, yes. But they would have to make it all the way through a coding class with the laptop on loan before they would get it for free. Maybe by the end of the course, that same child would decide that she loved programming!</dd>
                        <dt>Won’t parents try to scam the system to get a laptop for themselves?</dt>
                        <dd>Again, it’s possible, but highly unlikely because it will take months before their child ever brings the laptop home.</dd>
                        <dt>Are there any parental controls on the laptops?</dt>
                        <dd>Our laptops come pre-installed with both ChromeOS and Ubuntu. Both operating systems make it easy to set up parental controls, however they are not enabled by default.</dd>
                        <dt>What about children’s safety?</dt>
                        <dd>This is a top priority for us, and we’ve spoken with child safety experts from the beginning in order to determine what precautions we should take to protect the children we fund from any adult online who has malicious intentions. We take care to anonymize the children, not share publically what schools they attend, accept only certain styles of photographs to post online, and disallow child-to-donor communications.</dd>
                        <dt>What if a child doesn’t have internet in their home?</dt>
                        <dd>We’ve pre-installed Ubuntu and a selection of programming languages to ensure that even kids that don’t have access to the internet at home can practice coding offline.</dd>
                        <dt>What happens when a laptop wears out?</dt>
                        <dd>This will happen. If a child has been an active coder and needs a new laptop after a few years, we encourage her to apply again through the original process. We know that she’s already super excited and successful with coding, so it’ll be extra wonderful to continue helping her.</dd>
                        <dt>What if the child I fund drops out?</dt>
                        <dd>It might happen. As with all types of investment, it’s a risk. No matter what, however, you can be confident that your donation gave a child an opportunity to decide whether or not she enjoyed coding. Without you, she would never have had a chance.</dd>
                        <dt>What if the child I fund breaks his or her laptop?</dt>
                        <dd>Kids break things (we all do), and that sucks. We encourage anyone who experiences problems with her laptop to email us at <a href="mailto:info@NextCodeNinja.org">info@NextCodeNinja.org</a>, and we’ll discuss if it’s possible to remedy the situation.</dd>
                        <dt>Why is it important to give laptops to kids? Aren’t there other more important causes?</dt>
                        <dd>Enabling a child to have access to a self-driven career that will not only change her life, but potentially the lives lived by her family and community could not be a more valuable cause. We focus only on children who have already expressed an interest in learning to code, so presumably many of their most basic needs are already being met. If you are interested in supporting additional organizations doing important work for other causes, our CEO has a lot of experience and would love to provide a recommendation. She can be reached at <a href="mailto:info@NextCodeNinja.org">info@NextCodeNinja.org</a>.</dd>
                    </dl>
                    <h2 id="codekits">Tell me more about the Code Kits</h2>
                    <dl>
                        <dt>What laptop do you ship?</dt>
                        <dd>The Acer Chromebook C720.</dd>
                        <dt>It looks like Acer C720s retail for about $200, why does it cost you $250 per laptop?</dt>
                        <dd>That’s correct. We purchase our laptops for less than $200. The additional money covers the cost of pre-installing and setting up Linux, our custom packaging and instruction manual, and shipping. Because these costs are variable (especially shipping) it will sometimes cost more or less than $250 to get a laptop in the hands of a kid. Excess funds will always go towards funding future Code Kits.</dd>
                        <dt>Can kids use both ChromeOS and Linux on their Chromebooks?</dt>
                        <dd>Yes! The laptop will be “dual-boot” meaning that you can start either the standard ChromeOS or choose to start Ubuntu Linux.</dd>
                        <dt>What software is installed on these Chromebooks?</dt>
                        <dd>We will install Ubuntu 14.04 as well as several modern programming languages/environments like Python, Ruby and NodeJS. We'll also include build tools for kids to install packages of their choosing.</dd>
                        <dt>I write software. How can I help?</dt>
                        <dd>We’re always looking for developers to help us create the best Linux distribution for kids. If you think you can help, email <a href="mailto:info@NextCodeNinja.org">info@NextCodeNinja.org</a>.</dd>
                        <dt>I design stuff. How can I help?</dt>
                        <dd>We love designers! We’re planning some great original learning content for kids and could use your help. If you’d like to find out what we have planned, email <a href="mailto:info@NextCodeNinja.org">info@NextCodeNinja.org</a>.</dd>
                        <dt>Are you sponsored by Google? Is this a PR stunt for Google?</dt>
                        <dd>No, we are not sponsored by or affiliated with Google. We’ve chosen Chromebooks because of their low cost, excellent hardware, and amazing battery life. ChromeOS provides a very simple interface for kids that are just getting started, but Chromebooks are still hacker-friendly, and the ability to dual-boot Ubuntu makes them great for older kids that are ready to learn more advanced programming techniques.</dd>
                    </dl>
                    <h2 id="sponsors">Corporate sponsors and foundations</h2>
                    <dl>
                        <dt>I love kids. I love laptops. How can I get involved?</dt>
                        <dd>There are several way to get involved. First, you can pledge to donate laptops. This could be a single pledge of one or more laptops, or it could be a recurring monthly pledge. If you send us company stickers, we’re happy to put one on each laptop you fund as a special thanks. Second, you can match individual donations to make your donation more powerful. For example, you could pledge $200 of matching funds each month, and we will promote you on our website and on social media as a matching donor for anyone who gives during the time that your match is available. Third, you can donate service or goods. If you think you could help us develop our service, please email us as <a href="mailto:info@NextCodeNinja.org">info@NextCodeNinja.org</a>. Finally, we welcome all operational donations, because those are what enable us to do the work of shipping laptops to kids.</dd>
                        <dt>Can I include my company’s materials in your Code Kits?</dt>
                        <dd>For each laptop you fund, we will place your company’s sticker on the lid. If you’d like to provide additional materials, contact us at <a href="mailto:info@NextCodeNinja.org">info@NextCodeNinja.org</a>, and we’d love to talk. We’re always interested in integrating new ideas and materials that will help kids learn to code.</dd>
                        <dt>Do you accept large donations to fund operations?</dt>
                        <dd>Yes please! We spend 100% of the small donations we receive on shipping laptops to kids, so we depend on tips and outside donations to cover operational costs. We strive to run a lean business, but we do need to pay for things like accounting, registration fees, website hosting, and salaries. We’d greatly appreciate your support.</dd>
                    </dl>
                    <h2 id="partners">Partner organizations</h2>
                    <dl>
                        <dt>How can my organization get free laptops?</dt>
                        <dd>We’d love to hear from you! Please email us at <a href="mailto:info@NextCodeNinja.org">info@NextCodeNinja.org</a>.</dd>
                        <dt>My organization is also collecting data about the kids who participate, and I’d like to share it with you. How can I do that?</dt>
                        <dd>More data is more awesome. We’d love to learn more. Please email us at <a href="mailto:info@NextCodeNinja.org">info@NextCodeNinja.org</a>.</dd>
                        <dt>What are my responsibilities as a partner organization?</dt>
                        <dd>Partnering with NextCodeNinja is simple. First, notify us that you would like to be involved. Email us at <a href="mailto:info@NextCodeNinja.org">info@NextCodeNinja.org</a>, and we’ll send you detailed information. Next, identify children who would like to participate in your organization, but who don’t have their own hardware. One way to do this is by reaching out to local schools. You will also need to coordinate receiving and sending us recommendations from sponsor teachers, receiving the laptops as we ship them to your chosen location, and caring for the laptops during the loan period. During the first year, we need your help to encourage students to fill out surveys every 3 months. In following years, we will work directly with the teacher sponsor and the child. We’d also appreciate receiving photos and general updates on your organization as it changes and grows.</dd>
                        <dt>Are there any types of organisations you won’t partner with?</dt>
                        <dd>As of today, we are only partnering with metro-Atlanta school systems, but soon we will open up to other organizations who teach kids to code. We would love to hear about you, so send us an email at <a href="mailto:info@NextCodeNinja.org">info@NextCodeNinja.org</a>!</dd>
                        <dt>How is a partner organisation selected? What are the criteria?</dt>
                        <dd>Good communication and transparency are important to us, so we look for partner organizations who are responsive and timely with emails and who are interested in helping NextCodeNinja become even more awesome by providing constructive feedback.</dd>
                    </dl>
                    <h2 id="stats">Statistics and Program Evaluations</h2>
                    <dd>
                        <dt>How accurate are the statistics you reference?</dt>
                        <dd>
                            Our statistics are the most up-to-date ones available online. Transparency is our priority, so we’ve added this section so you’ll know where we get our information. When looking at any statistic or research study, you should always check your sources. Especially note the date of publication and the time elapsed between when data was collected and its publication occurred. If you have more recent data that would make our information more accurate, please send it our way at <a href="mailto:info@NextCodeNinja.org">info@NextCodeNinja.org</a>. Our statistics are drawn from these sources:
                            <ul>
                                <li><a href="http://www.census.gov/prod/2013pubs/acs-24.pdf">http:&#47;&#47;www.census.gov&#47;prod&#47;2013pubs&#47;acs-24.pdf</a></li>
                                <li><a href="http://www.nsf.gov/statistics/wmpd/2013/pdf/tab5-1.pdf">http:&#47;&#47;www.nsf.gov&#47;statistics&#47;wmpd&#47;2013&#47;pdf&#47;tab5-1.pdf</a></li>
                                <li><a href="http://www.bls.gov/opub/btn/volume-2/careers-in-growing-field-of-information-technology-services.htm">http:&#47;&#47;www.bls.gov&#47;opub&#47;btn&#47;volume-2&#47;careers-in-growing-field-of-information-technology-services.htm</a></li>
                                <li><a href="http://money.usnews.com/careers/best-jobs/software-developer">http:&#47;&#47;money.usnews.com&#47;careers&#47;best-jobs&#47;software-developer</a></li>
                                <li><a href="http://www.census.gov/prod/2013pubs/p20-569.pdf">http:&#47;&#47;www.census.gov&#47;prod&#47;2013pubs&#47;p20-569.pdf</a></li>
                            </ul>
                        </dd>
                        <dt>Can anyone see the data you’re collecting?</dt>
                        <dd>Yes. We believe in sharing knowledge freely, especially when it involves education and helping out great kids.</dd>
                        <dt>Can I use your data publicly?</dt>
                        <dd>Yes, but please cite us as a source and email <a href="mailto:info@NextCodeNinja.org">info@NextCodeNinja.org</a> to notify us.</dd>
                        <dt>Why is it important to track the children who receive laptops?</dt>
                        <dd>For three reasons. First, by measuring the progress of program participants, we are able to iterate and create continually better experiences. Second, large foundations and institutions appreciate knowing the outputs and outcomes of programs when they consider who to fund. By starting to measure impact from the beginning, NextCodeNinja is setting itself up for future funding. Third, we’re testing the hypothesis that giving children laptops will enable them to learn to code and then they will have a greater chance of entering the computer science field. We can’t know the impact of our program unless we are willing to track longitudinal progress.</dd>
                        <dt>What do you mean by diversity and why does it matter?</dt>
                        <dd>For NextCodeNinja, “diversity” refers to a more diverse, heterogeneous population. We want to see kids from a wide variety of backgrounds be able to participate in and grow to love programming. We hope that this will translate into a larger pool of developers in the future, people who approach challenges differently, create thoughtful solutions, and even take on a wider variety of problems.</dd>
                        <dt>Is it possible to opt out of being tracked?</dt>
                        <dd>Please email us at <a href="mailto:info@NextCodeNinja.org">info@NextCodeNinja.org</a>, and we’re happy to discuss your specific situation.</dd>
                    </dd>
                    <h2 id="financials">Tell me about your financials</h2>
                    <dl>
                        <dt>Are you a 501(c)(3)? Is my donation tax deductible?</dt>
                        <dd>NextCodeNinja’s 501(c)(3) status as a non-profit is in process. This can take up to a year. Because we want you to feel confident that your donation is tax deductible, NextCodeNinja has secured a fiscal sponsor during this interim period. Curing Kids Cancer has stepped up to help us out because they already have their 501(c)3 status in place. Your donation to NextCodeNinja flows right through our website to our bank account held by CKC. Outside donors cover the cost of the fiscal sponsorship; no part of your donations is paid to CKC.</dd>
                        <p>Your credit card charge will show as a donation to NextCodeNinja.ORG. CKC will issue you a receipt for your donation to NextCodeNinja on December 31 that you can use when you file your taxes. You may use the organization name and EIN of CKC when you file your taxes.</p>
                        <dt>Does 100% of my donation really go to pay for a laptop?</dt>
                        <dd>Yes. Your entire donation goes toward the purchase of laptops, installation of software, packaging, and shipping.</dd>
                        <dt>How do you spend my donation?</dt>
                        <dd>We spend 100% of your donation to purchase an Acer Chromebook ($199). The remaining $50 covers costs to install materials on the laptops, package our Code Kits, and ship it all off to our great kids. If you tip us, we’ll spend that money first to cover credit card processing and web hosting fees, and then accounting and website development and design.</dd>
                        <dt>How do you pay administrative costs?</dt>
                        <dd>We work hard to run a lean nonprofit with minimal costs. We started with the generous funding of private donors and, because we believe it’s important for founders to show their own financial commitment, we also make our own financial investment. If you want to throw some $$$ love our way and help us keep up with the growth of NextCodeNinja, we’d love to talk. Email us at <a href="mailto:info@NextCodeNinja.org">info@NextCodeNinja.org</a>.</dd>
                        <dt>What is this “tipping” thing?</dt>
                        <dd>We want to be transparent about how we spend your donations, so we let you choose what elements of NextCodeNinja you want to fund. If you choose to tip 3%, we will be able to cover the costs to process your credit card donation. If you tip us 15% (way below what you tip in taxis, restaurants, and to get your hair cut, btw), we’ll be able to do cool things, like pay for an accountant who keeps our financials on the up and up.</dd>
                        <dt>How do you process payments?</dt>
                        <dd>We use Stripe for all our credit card processing.</dd>
                        <dt>Does NextCodeNinja plan to become financially sustainable?</dt>
                        <dd>Yes. We encourage all donors to leave a 15% tip on top of their donation, to help us cover our operating expenses. Over time, we plan to become sustainable on these tips alone. It will take some time for us to reach this milestone, but we’re confident that as NextCodeNinja grows, so will our generous community.</dd>
                    </dl>
                    <h2>Jobs and volunteer opportunities</h2>
                    <p>If you are interested in helping us on our mission “laptops and training for kids,” we’d love to hear from you. If you want to be paid, email us here at <a href="mailto:info@NextCodeNinja.org">info@NextCodeNinja.org</a>, and we’ll do our best to tempt you into the awesome world of startup nonprofits. If you are willing to work for free, EMAIL US RIGHT NOW at <a href="mailto:info@NextCodeNinja.org">info@NextCodeNinja.org</a>. We need lots of help with getting the word out, monitoring the content on our website, and other exciting things.</p>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-3 logo hidden-xs">
                <img alt="Logo" src="../static/ncn-logo.png" />
                </div>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-sm-8 links">
                            <ul>
                                <li><a href="about.html">About</a></li>
                                <li><a href="faqs.html">FAQs</a></li>
                                <li><a href="http://blog.NextCodeNinja.org/">Blog</a></li>
                                <li><a href="privacy.html">Privacy Policy</a></li>
                                <li><a href="jobs.html">We&#39;re Hiring!</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-4 actions">
                            <a class="btn btn-lg btn-primary" href="pledge.html">DONATE</a>
                            <ul class="social">
                                <li><a href="https://twitter.com/NextCodeNinja"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://www.facebook.com/NextCodeNinja"><i class="fa fa-facebook-square"></i></a></li>
                                <li><a href="http://instagram.com/NextCodeNinja"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="mailto:info@NextCodeNinja.org"><i class="fa fa-envelope"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script>
      ga(function(tracker) {
        $.post('/set_ga_client_id', { client_id:tracker.get('clientId') });
    })
</script>


</div>
</body>
</html>
