<!DOCTYPE html>
<html>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>

    <title>
        NextCodeNinja.org: Laptops and Training for kids
    </title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:700italic,400,700,300,600" media="screen" rel="stylesheet" />
    <link href="../static/application.css" media="all" rel="stylesheet" />
    <script src="../static/application.js"></script>
    <link href="../static/favicon.png" rel="icon" type="image&#47;png">
    <link href="../static/ncn-logo.png" rel="image_src" type="image&#47;png">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=1200px" name="viewport">
    <meta content="NextCodeNinja.org" name="title">
    <meta content="At NextCodeNinja, we want to ensure that every child has the opportunity to learn how to code. And it all starts with having a computer." name="description">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-54193016-1', 'auto');
      ga('send', 'pageview');
    </script>
</head>
<body class=" pages pages-index">
    <div id="wrapper">
        <div id="main-nav">
            <div class="container">
                <div class="pull-left">
                    <a href="index.html"><img alt="Logo" src="../static/ncn-logo.png" /></a>
                </div>
                <div class="pull-right">
                    <ul class="nav nav-pills pull-left">
                        <li><a href="index.html">Nominate a Child</a></li>
                        <li><a href="index.html">Find a Club</a></li>
                        <li><a href="faqs.html">FAQ</a></li>
                        <li><a href="index.html">About</a></li>
                        <li><a href="index.html">Log in</a></li>
                    </ul>
                    <a class="pull-right btn btn-primary btn-lg" href="pledge.html">Donate</a>
                </div>
            </div>
        </div>

        <div class="content"><section class="hero">
            <div class="hero-canvas">
                <div class="donate">
                    <h2>You're donating</h2>
                    <form accept-charset="UTF-8" action="https://NextCodeNinja.org/pledge" method="get"><div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /></div>
                        <span class="dollar">$</span>
                        <input class="form-control amount input-lg" id="amount" min="1" name="amount" step="1" type="number" value="25" />
                        <span class="usd">USD</span>
                        <input class="btn btn-primary btn-lg" name="commit" type="submit" value="Donate" />
                    </form>

                </div>
                <div class="so-far">
                    <div class="text">
                        <h2>15 computers pledged so far</h2>
                        <h3>thanks!</h3>
                    </div>
                    <img alt="Computer" class="computer" src="../static/pages/index/computer-b6ac42fdfdd93ccfb68c7f8431b927e5.png" />
                    <img alt="Computer" class="computer" src="../static/pages/index/computer-b6ac42fdfdd93ccfb68c7f8431b927e5.png" />
                    <img alt="Computer" class="computer" src="../static/pages/index/computer-b6ac42fdfdd93ccfb68c7f8431b927e5.png" />
                    <img alt="Computer" class="computer" src="../static/pages/index/computer-b6ac42fdfdd93ccfb68c7f8431b927e5.png" />
                    <img alt="Computer" class="computer" src="../static/pages/index/computer-b6ac42fdfdd93ccfb68c7f8431b927e5.png" />
                    <img alt="Computer" class="computer" src="../static/pages/index/computer-b6ac42fdfdd93ccfb68c7f8431b927e5.png" />
                    <img alt="Computer" class="computer" src="../static/pages/index/computer-b6ac42fdfdd93ccfb68c7f8431b927e5.png" />
                    <img alt="Computer" class="computer" src="../static/pages/index/computer-b6ac42fdfdd93ccfb68c7f8431b927e5.png" />
                    <img alt="Computer" class="computer" src="../static/pages/index/computer-b6ac42fdfdd93ccfb68c7f8431b927e5.png" />
                    <img alt="Computer" class="computer" src="../static/pages/index/computer-b6ac42fdfdd93ccfb68c7f8431b927e5.png" />
                    <img alt="Computer" class="computer" src="../static/pages/index/computer-b6ac42fdfdd93ccfb68c7f8431b927e5.png" />
                    <img alt="Computer" class="computer" src="../static/pages/index/computer-b6ac42fdfdd93ccfb68c7f8431b927e5.png" />
                    <img alt="Computer" class="computer" src="../static/pages/index/computer-b6ac42fdfdd93ccfb68c7f8431b927e5.png" />
                    <img alt="Computer" class="computer" src="../static/pages/index/computer-b6ac42fdfdd93ccfb68c7f8431b927e5.png" />
                    <img alt="Computer" class="computer" src="../static/pages/index/computer-b6ac42fdfdd93ccfb68c7f8431b927e5.png" />
                    <img alt="Computer" class="computer" src="../static/pages/index/computer-b6ac42fdfdd93ccfb68c7f8431b927e5.png" />
                    <img alt="Computer" class="computer" src="../static/pages/index/computer-b6ac42fdfdd93ccfb68c7f8431b927e5.png" />
                    <img alt="Computer" class="computer" src="../static/pages/index/computer-b6ac42fdfdd93ccfb68c7f8431b927e5.png" />
                    <img alt="Computer" class="computer" src="../static/pages/index/computer-b6ac42fdfdd93ccfb68c7f8431b927e5.png" />
                </div>
                <img alt="Machine" class="machine" src="../static/pages/index/machine-41a5f672e205258952713da46df5147c.png" />
                <img alt="Kid hero" class="kid-hero" src="../static/pages/index/kid-hero-67c93cca3c525e1d633ac8c52deae44a.png" />
                <div class="to-go">
                    <span class="amount">$175</span>
                    <span class="text">to go</span>
                </div>
                <div class="thermometer">
                    <img alt="Thermometer 25" src="../static/pages/index/thermometer-25-608e5808ce4cf4789708e253173032eb.png" />
                    <div class="amount">$75</div>
                </div>
            </div>
        </section>
        <section class="help">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 kid-1">
                        <img alt="Kid 1" src="../static/pages/index/kid-1-d4370c7908b79485e6c4d234ecd6c2ad.png" />
                    </div>
                    <div class="col-sm-6 text">
                        <h3>
                            Help us ensure that every child has the opportunity to learn how to code.
                        </h3>
                        <h3 class="alt">
                            For every $250 donated, we will ship a new laptop to a child waiting to
                            enroll in a programming class.
                        </h3>
                    </div>
                    <div class="col-sm-3 kid-2">
                        <img alt="Kid 2" src="../static/pages/index/kid-2-6fd0ae3fb85d38d87834a6ac9189d7d3.png" />
                    </div>
                </div>
            </div>
        </section>
        <section class="why">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2>1. Why this project is important</h2>
                        <div class="carousel slide" data-interval="false" data-ride="carousel" id="why-carousel">
                            <ol class="carousel-indicators">
                                <li class="active" data-slide-to="0" data-target="#why-carousel"></li>
                                <li data-slide-to="1" data-target="#why-carousel"></li>
                                <li data-slide-to="2" data-target="#why-carousel"></li>
                                <li data-slide-to="3" data-target="#why-carousel"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <div class="row">
                                        <div class="col-sm-4 col-sm-offset-2 image">
                                            <img alt="Data diversity" src="../static/pages/index/data-diversity-8cbffacdb13402c547a48c744f0792fa.png" />
                                        </div>
                                        <div class="col-sm-4 text">
                                            <h3>Diversity</h3>
                                            <p>Children from low income families, African Americans, Hispanics, and Women are vastly underrepresented in computer science professions. A more diverse population of coders will tackle a larger variety of problems and bring different perspectives to current ones.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="row">
                                        <div class="col-sm-4 col-sm-offset-2 image">
                                            <img alt="Data university" src="../static/pages/index/data-university-30dbd44917cdb8ed33e90ddcbc0b5c01.png" />
                                        </div>
                                        <div class="col-sm-4 text">
                                            <h3>Education</h3>
                                            <p>By university, many students have already set their minds against a career in tech. We need to reach kids earlier, when they are motivated by curiosity instead of social pressures.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="row">
                                        <div class="col-sm-4 col-sm-offset-2 image">
                                            <img alt="Data careers" src="../static/pages/index/data-careers-2910bb78f9552eb33ad86a2e1c385517.png" />
                                        </div>
                                        <div class="col-sm-4 text">
                                            <h3>Careers</h3>
                                            <p>Software development employment growth is expected to increase 22.8% by 2022. Planning for a future in technology will keep doors open for kids, their families, and their communities.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="row">
                                        <div class="col-sm-4 col-sm-offset-2 image">
                                            <img alt="Data home" src="../static/pages/index/data-home-c6ebb312a42b667228357207e7e7a22c.png" />
                                        </div>
                                        <div class="col-sm-4 text">
                                            <h3>It starts at home</h3>
                                            <p>Kids in underserved communities often don’t have access to computers and are less likely to take advantage of existing coding programs.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="left carousel-control" data-slide="prev" href="#why-carousel">
                                <span>
                                    <i class="fa fa-arrow-left fa-4x"></i>
                                </span>
                            </a>
                            <a class="right carousel-control" data-slide="next" href="#why-carousel">
                                <span>
                                    <i class="fa fa-arrow-right fa-4x"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="partners">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <img alt="Partners" src="../static/pages/index/partners-3bd297e97fb1ed6ae8a45c1f1a1274bc.png" />
                    </div>
                    <div class="col-sm-6 text">
                        <h2>2. Partners</h2>
                        <p>
                            This year we're running our pilot program in metro Atlanta. In 2015, we'll launch NextCodeNinjas around the US and expand to other organizations that are teaching kids to code. <a href="mailto:info@NextCodeNinja.org">Email us</a> if you need laptops for your organization.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="codekit">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>3. Code Kit</h2>
                        <p>
                            Each Code Kit begins with an Acer Chromebook, pre-loaded with Linux and a <a href="faqs.html#codekits">variety of programming languages</a>. We also include a manual for getting started and working offline. We’re always on the lookout for more awesome things to include, so <a href="mailto:info@NextCodeNinja.org">email us</a> any ideas you have. NextCodeNinja spends 100% of your donation to purchase laptops for kids, and we’ll send you a receipt for a <a href="faqs.html#financials">tax deduction</a>.
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <img alt="Codekit" src="../static/pages/index/codekit-d991e8cdddaf4a8c42466d10f3cc831e.png" />
                    </div>
                </div>
            </div>
        </section>
        <section class="report">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <img alt="Report" src="../static/pages/index/report-6d31934bd6f736390a4dc308c0d9f114.png" />
                    </div>
                    <div class="col-sm-6">
                        <h2>4. Report</h2>
                        <p>
                            When the child receives her laptop, she’ll send you a thank-you note. You’ll also receive quarterly updates on her progress for the first year as she learns to code. We want to be transparent, so we post our ongoing evaluation data <a href="https://docs.google.com/spreadsheets/d/17vI88ncdthOLfDJ98C2nYjv0ikukd4rjaj6lDHI992w/edit?usp=sharing">here</a>. Over time, you’ll see the long-term impact of giving laptops to kids and empowering them to code.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="email">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h2>Stay up-to-date with NextCodeNinja</h2>
                        <form accept-charset="UTF-8" action="index.html" class="form-inline" method="post"><div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="gEcSxfXPg1DcKK1Z94&#47;Ycawa2hlnNgHebEWiAAU&#47;efQ=" /></div>
                            <input class="form-control input-lg" id="email" name="email" placeholder="Email address" type="text" value="" />
                            <input class="btn btn-primary btn-lg" name="commit" type="submit" value="Keep me updated!" />
                        </form>

                    </div>
                </div>
            </div>
        </section>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-3 logo hidden-xs">
                    <img alt="Logo" src="../static/ncn-logo.png" />
                </div>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-sm-8 links">
                            <ul>
                                <li><a href="index.html">About</a></li>
                                <li><a href="faqs.html">FAQs</a></li>
                                <li><a href="http://blog.NextCodeNinja.org/">Blog</a></li>
                                <li><a href="index.html">Privacy Policy</a></li>
                                <li><a href="index.html">We&#39;re Hiring!</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-4 actions">
                            <a class="btn btn-lg btn-primary" href="pledge.html">DONATE</a>
                            <ul class="social">
                                <li><a href="https://twitter.com/NextCodeNinja"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://www.facebook.com/NextCodeNinja"><i class="fa fa-facebook-square"></i></a></li>
                                <li><a href="http://instagram.com/NextCodeNinja"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="mailto:info@NextCodeNinja.org"><i class="fa fa-envelope"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script>
      ga(function(tracker) {
        $.post('/set_ga_client_id', { client_id:tracker.get('clientId') });
    })
    </script>
</div>
</body>
</html>