<!DOCTYPE html>
<html>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>

  <title>
    Donate &gt; NextCodeNinja
  </title>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:700italic,400,700,300,600" media="screen" rel="stylesheet" />
  <link href="../static/application.css" media="all" rel="stylesheet" />
  <script src="../static/application.js"></script>
  <link href="../static/favicon.png" rel="icon" type="image&#47;png">
  <link href="../static/ncn-logo.png" rel="image_src" type="image&#47;png">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=1200px" name="viewport">
  <meta content="NextCodeNinja.org" name="title">
  <meta content="At NextCodeNinja, we want to ensure that every child has the opportunity to learn how to code. And it all starts with having a computer." name="description">
  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-54193016-1', 'auto');
      ga('send', 'pageview');
    </script>

</head>
<body class=" pledges pledges-new">
  <div id="wrapper">


    <div id="main-nav">
      <div class="container">
        <div class="pull-left">
          <a href="index.html"><img alt="Logo" src="../static/ncn-logo.png" /></a>
        </div>
        <div class="pull-right">
          <ul class="nav nav-pills pull-left">
            <li><a href="index.html">Nominate a Child</a></li>
            <li><a href="index.html">Find a Club</a></li>
            <li><a href="index.html">FAQ</a></li>
            <li><a href="index.html">About</a></li>
            <li><a href="index.html">Log in</a></li>
          </ul>
          <a class="pull-right btn btn-primary btn-lg" href="pledge.html">Donate</a>
        </div>
      </div>
    </div>

    <div class="content"><div class="container">
      <form accept-charset="UTF-8" action="https://NextCodeNinja.org/pledge" class="col-md-8 col-md-offset-2" id="create-pledge-form" method="post" role="form"><div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="gEcSxfXPg1DcKK1Z94&#47;Ycawa2hlnNgHebEWiAAU&#47;efQ=" /></div><input id="payment-service" name="payment_service" type="hidden" value="stripe" />
        <div class="row">
          <div class="col-sm-12">
            <div id="donation-amounts">
              <div class="amount-picker">
                <span class="donating">You're donating</span>
                <span class="dollar">$</span>
                <input class="form-control amount" id="amount" min="1" name="amount" step="1" type="number" value="50" />
                <span class="usd">USD</span>
              </div>
              <div class="tip-picker">
                <span class="with">
                  with an
                  <span class="optional-tip" data-container="#donation-amounts" data-content="&lt;p&gt;We&#39;re being up front with our funding allocations and enabling you to choose where to put your support. By tipping us, you&#39;ll help us stay in business and do the work of tracking children&#39;s long-term progress, keeping in communcation with our partner organizations, and running our website.&lt;&#47;p&gt;&lt;ul&gt;&lt;li&gt;A 15% tip ensures we can keep shipping laptops to kids!&lt;&#47;li&gt;&lt;li&gt;A 3% tip will cover our credit card processing fees.&lt;&#47;li&gt;&lt;&#47;ul&gt;" data-html="true" data-placement="bottom" data-toggle="popover" title="What does a tip do?">optional tip</span>
                  of
                </span>
                <select class="form-control tip" id="tip" name="tip"><option value="0">0%</option>
                  <option value="3">3%</option>
                  <option selected="selected" value="15">15%</option></select>
                </div>
              </div>
              <div class="tip-explain">
                <div class="tip-15 hide">Thanks! A 15% tip ensures we can keep shipping laptops to kids!</div>
                <div class="tip-3 hide">Sweet. A 3% tip will cover our credit card processing fees.</div>
                <div class="tip-0 hide">Please consider a 15% tip, we survive on your generous contributions!</div>
              </div>
              <script>
                NextCodeNinja.DonationAmountForm.initialize()
              </script>

            </div>
          </div>
          <input id="frequency" name="frequency" type="hidden" value="onetime" />
          <div class="row">
            <div class="col-sm-12">
              <div class="frequency-picker">
                <div class="checkbox">
                  <label for="frequency-monthly"><input checked="checked" class="frequency-radio" id="frequency-monthly" name="frequency" type="checkbox" value="monthly" />
                    Monthly donation
                  </label><i class="fa fa-question-circle" data-content="You can have this donation automatically charged every month (and cancel at any time). Help 12 kids every year!" data-html="true" data-placement="top" data-toggle="popover" title="How does this work?"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="user-fields">
            <div class="row">
              <div class="col-sm-9">
                <div class="form-group">
                  <label for="user_email">Email</label>
                  <input class="form-control" id="user_email" name="user[email]" placeholder="Email address" tabindex="10" type="text" />
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label for="user_zip">Zip</label>
                  <input class="form-control" id="user_zip" name="user[zip]" pattern="\d*" placeholder="Zip" tabindex="11" type="text" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="user_first_name">First name</label>
                  <input class="form-control" id="user_first_name" name="user[first_name]" placeholder="First name" tabindex="12" type="text" />
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="user_last_name">Last name</label>
                  <input class="form-control" id="user_last_name" name="user[last_name]" placeholder="Last name" tabindex="13" type="text" />
                </div>
              </div>
            </div>
          </div>
          <div class="credit-card-fields">
            <input id="card-token" name="card_token" type="hidden" value="" />
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="card_number">Card number</label>
                  <input class="form-control" id="card_number" name="card_number" pattern="\d*" placeholder="Credit card number" tabindex="14" type="text" value="" />
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label for="card_exp">Expiration MM&#47;YY</label>
                  <input class="form-control" id="card_exp" maxlength="5" name="card_exp" pattern="[\d\&#47;]*" placeholder="MM&#47;YY" tabindex="15" type="text" value="" />
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label for="card_exp">Security Code</label>
                  <input class="form-control" id="card_cvc" name="card_cvc" pattern="\d*" placeholder="CVC" tabindex="16" type="text" value="" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 alert alert-danger" id="cc-errors" style="display:none"></div>
            </div>

            <a class="btn btn-lg btn-primary" href="#" id="commit">Donate $<span id="donate-amount">11.50</span></a>
          </div>
          <div class="modal fade" id="tip-modal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button aria-hidden="true" class="close" data-dismiss="modal" type="button">&times;</button>
                  <h4 class="modal-title">What's this optional tip?</h4>
                </div>
                <div class="modal-body">
                  <div class="tip-sentence">
                    Give
                    <select id="tip-percent" name="tip_percent"><option value="0">0</option>
                      <option value="3">3</option>
                      <option value="15">15</option></select>
                      %
                      of my donation to NextCodeNinja.
                    </div>
                    <p>
                      <strong>3%</strong>
                      will cover our credit card processing fees.
                    </p>
                    <p>
                      <strong>15%</strong>
                      will also provide operational costs and make sure we'll be getting laptops to kids for a long time!
                    </p>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal" type="button">Okay</button>
                  </div>
                </div>
              </div>
            </div>
            <script>
              $('#tip-modal').on('hide.bs.modal', function() {
                var $percent = $('#tip-percent');
                if ($percent.val() == '0') {
                  $('#includes-text').text('excludes');
                  $('#tip-percent-text').text('optional donation');
                } else {
                  $('#includes-text').text('includes');
                  $('#tip-percent-text').text('optional ' + $percent.val() + '% donation');
                }
              });
            </script>

          </form>

        </div>
        <script>
          NextCodeNinja.CreditCardForm.initialize('#create-pledge-form', '/pledge', 'Saving pledge...', NextCodeNinja.Card.initialize('pk_live_e0VJQ62f1Rh4E9GjxtyJJafn'));
          NextCodeNinja.PaymentForm.initialize();
        </script>
      </div>

      <footer>
        <div class="container">
          <div class="row">
            <div class="col-sm-3 logo hidden-xs">
            <img alt="Logo" src="../static/ncn-logo.png" />
            </div>
            <div class="col-sm-9">
              <div class="row">
                <div class="col-sm-8 links">
                  <ul>
                    <li><a href="index.html">About</a></li>
                    <li><a href="index.html">FAQs</a></li>
                    <li><a href="http://blog.NextCodeNinja.org/">Blog</a></li>
                    <li><a href="index.html">Privacy Policy</a></li>
                    <li><a href="index.html">We&#39;re Hiring!</a></li>
                  </ul>
                </div>
                <div class="col-sm-4 actions">
                  <a class="btn btn-lg btn-primary" href="pledge.html">DONATE</a>
                  <ul class="social">
                    <li><a href="https://twitter.com/NextCodeNinjaorg"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.facebook.com/NextCodeNinja"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href="http://instagram.com/NextCodeNinja"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="mailto:info@NextCodeNinja.org"><i class="fa fa-envelope"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>

      <script>
        ga(function(tracker) {
          $.post('/set_ga_client_id', { client_id:tracker.get('clientId') });
        })
      </script>


    </div>
  </body>
  </html>
